* text=auto
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.svg text eol=lf
*.ipynb text eol=lf
*.csv -text
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.zip binary
*.xlsx binary
